#logout{
    float:right
}
body{
    background-color:lightblue;
}
#title1{
    color:palevioletred;
    text-align: center;
}
#roomname{
    width: 50%;
}
#username1{
    background-color: white;
    color: black;
}